@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
background-color: rgb(232, 210, 250);
}
h1 {
    font-family:"Lilita One";
    color: rgb(184, 53, 86);
    text-align: center;
}

h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(65, 75, 158);
    background-color: rgb(151, 146, 203);
}
a {
    color: rgb(196, 90, 111);
}